<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste et tâches</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
</head>
<body>
    <h1><%= listName %></h1>

    <form action="<%= `/task_lists/${tasks[0].Id}/tasks` %>" method="POST">
      <label for="description">Ajouter une nouvelle tâche :</label>
      <input type="text" name="description"/>
      <input type="submit" value="OK"/>
    </form>

    <ol>
        <% tasks.forEach((task) => { %>
          
          <li> <input type="checkbox" class="check"> <a href="<%= `/tasks/${task.Id}` %>"><%= `${task.Description}` %></a> <form action="<%= `/task_lists/${tasks[0].Id}/tasks/${task.Id}/delete` %>" method="GET"> <input type="submit" formmethod="DELETE" value="SUPPRIMER"></form> </li>
          
        <% }) %>
    </ol>

    <!-- <script src="static.js"></script> -->
</body>
</html>

<!-- <button><i class="fas fa-times"></i></button> -->